@font-face {
    font-family: 'B Nazanin';
    src: local('B Nazanin'), local('Nazanin'), url(fonts/nazanin.eot) format('embedded-opentype'), url(fonts/nazanin.woff2) format('woff2'), url(fonts/nazanin.woff) format('woff'), url(fonts/nazanin.ttf) format('truetype'), url('fonts/nazanin.svg') format('svg');
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    background-color: #fafafa;
    font-size: 12px;
    font-family: 'B Nazanin', Arial, serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

select, input {
    width: 90%;
    padding: 10px;
    direction: rtl;
    margin: 0;
    border: 1px solid #dddddd;
    font-family: 'B Nazanin', Arial, serif;
    font-size: 14px;
}

.page-table {
    width:100%;
    direction:rtl;
    margin-top: 60px;
}

.page-table-bar {
    position: fixed;
    direction:rtl;
    top: 0;
    right: 0;
    width:100%;
    height:60px;
    background-color:#ff6d3f;
    color:#ffffff;
    font-family: 'B Nazanin',Arial, serif;
}

.page-table-bar-right {
    text-align: right;
    padding-right: 15px;
    font-size: 18px;
    font-weight: bold;
    border-bottom:1px solid #f6693d;
}

.page-table-bar-left {
    text-align: left;
    padding-left: 10px;
    border-bottom:1px solid #f6693d;
}

.page-table-bar-subtitle {
    color: #ffdfd5;
    font-size: 12px;
    padding-right: 10px;
}

.page-table-main {
    background-color: #ffffff;
}

.page-table-input {
    background-color: #f8f8f8;
}

.page-table-image {
    height: 300px;
    background-size: contain;
    background: #ffffff no-repeat center;
    border-top: 3px solid #fafafa;
    border-bottom: 3px solid #fafafa;
}

.page-table-unit {
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: 3px solid #eeeeee;
}

.page-table-copy {
    font-size: 10px;
    color: #bbbbbb;
    text-align: center;
    direction: ltr;
    padding: 10px 0 60px 0;
    border-top: 3px solid #eeeeee;
}

.property {
    width: 100%;
    height: 70px;
    direction: rtl;
    cursor: pointer;
    background-color: #fafafa;
    border-spacing: 1px;
    font-family: 'B Nazanin', Arial, serif;
}

.property-thumb {
    background-size:cover;
    background: #ffdfd5 center;
    color:#974026;
    width:40px;
    text-align:center;
    font-size:14px;
}

.property-name {
    background-color: #ffffff;
    color: #888888;
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
    font-weight: bold;
}

.property2 {
    width: 100%;
    height: 70px;
    direction: rtl;
    cursor: pointer;
    background-color: #fafafa;
    border-spacing: 1px;
    font-family: 'B Nazanin', Arial, serif;
}

.property2-thumb {
    background-size:cover;
    background: #f4d5cc center;
    color:#903d24;
    width:40px;
    text-align:center;
    font-size:14px;
}

.property2-name {
    background-color: #fcfcfc;
    color: #555555;
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
    font-weight: bold;
}

.about {
    width: 100%;
    height: 70px;
    direction: rtl;
    cursor: pointer;
    background-color: #fafafa;
    border-spacing: 1px;
    font-family: 'B Nazanin', Arial, serif;
}

.about-thumb {
    background-size:cover;
    width:40px;
    background: #eeeeee center;
    color:#999999;
    text-align:center;
    font-size:14px;
}

.about-name {
    background-color: #fbfbfb;
    color: #aaaaaa;
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
    font-weight: bold;
}

.unit {
    height: 30px;
    float: right;
    direction: rtl;
    padding: 5px;
    margin: 2px;
    background-color: #eeeeee;
    border: 1px solid #ededed;
    color: #888888;
}

.unit-selected {
    height: 30px;
    float: right;
    direction: rtl;
    padding: 5px;
    margin: 2px;
    background-color: #dd5e37;
    border: 1px solid #f2673c;
    color: #ffffff;
}

.input {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    border: 1px solid #fafafa;
}

.input-lable {
    width: 80px;
    text-align: right;
    padding-right: 10px;
    font-family: 'B Nazanin', Arial, serif;
    font-size: 14px;
    font-weight: bold;
}

.input-value {
    text-align: right;
    padding-right: 10px;
}

.converted {
    width: 100%;
    height: 70px;
    direction: rtl;
    background-color: #eeeeee;
    border: 1px solid #eaeaea;
}

.converted-unit {
    color: #555555;
    height: 30px;
    text-align: right;
    direction: ltr;
    padding-right: 10px;
    font-size: 12px;
}

.converted-unit-fa {
    color: #555555;
    height: 30px;
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
    font-family: 'B Nazanin', Arial, serif;
    font-weight: bold;
}

.converted-value {
    color: #333333;
    text-align: center;
    font-size: 18px;
    font-family: 'B Nazanin', Arial, serif;
}

.identity {
    width: 100%;
    height: 70px;
    direction: rtl;
    background-color: #ffffff;
    border: 1px solid #fafafa;
}

.identity-title {
    background-color: #fafafa;
    color: #555555;
    height: 30px;
    text-align: right;
    padding: 10px;
    font-size: 14px;
    font-family: 'B Nazanin', Arial, serif;
    font-weight: bold;
}

.identity-formula {
    color: #333333;
    text-align: center;
    font-size: 18px;
    font-family: 'B Nazanin', Arial, serif;
    padding:20px 10px;
    border-bottom: 1px solid #eee;
}

.button {
    height:30px;
    border-radius: 30px;
    background: #dd5e37;
    border: 1px solid #d45a35;
    float: left;
    margin: 5px;
    padding: 0 10px 0 10px;
    color: #ffffff;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
}

.button:hover {
    background-color: #d45a35;
}

#page2, #page3, #page4 {
    display: none;
}

.paragraph {
    font-family: 'B Nazanin', Arial, serif;
    font-size: 12px;
    color: #999999;
    direction: rtl;
    text-align: right;
    padding: 20px 10px 10px 10px;
}